/* COLOR */
$lightMint: #DDFFE7;
$darkerMint: #98D7C2;
$tealGrenne: #167D7F;
$navyBlue: #003A64;
$white: #fff;

/* SPACING */
$gutter: 1rem;

/* SIZING */
$titleSize: 3.5rem;
$nameSize: 1.5rem;
$textSize: 1.2rem;

/* LETTERING STYLES */
$titleFont: 'Yanone Kaffeesatz', sans-serif;
$textFont: Avenir, Helvetica, Arial, sans-serif;

$titleWeight: bold;
$subTextWeight: 200;